<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mariana Tudó</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
</head>

<body>
    <h1>Register my hobbies</h1>
    <label for="">Name</label>
    <input type="text" name="name" id="name" placeholder="Insert your name">
    <br>
    <label for="">Age</label>
    <input type="text" name="age" id="age" placeholder="Insert yout age">
    <br>
    <label for="hob-select">Hobbys</label>
    <select name="hobbys" id="hob-select">
        <option value="">--Please choose an option--</option>
        <option value="sleeping">Sleeping</option>
        <option value="eating">Eating</option>
        <option value="singing">Singing</option>
        <option value="gaming">Gaming</option>
        <option value="workingout">Working Out</option>
    </select>
    <br><br>
    <button id="send" onclick="sendAnswers()"> Send </button>

    <script src="/static/script.js"></script>

</body>

</html>