<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mariana Tudó</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />

</head>

<body>
    <h1>La Naturaleza</h1>
    <br>
    <div class="topbar">
        <img src="/static/images/arbol.png" alt="img" />
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet non dignissimos, molestias, sed ipsam, ea
        doloremque officiis consectetur laboriosam neque accusamus quibusdam quos ipsum ratione fugit modi totam nisi
        aperiam!
        Ad suscipit voluptates perspiciatis ipsam mollitia, porro omnis sed minus distinctio voluptatem commodi officia
        error libero quisquam quis aspernatur! Quos quidem voluptates laboriosam sint nulla architecto ad iusto
        molestiae commodi?</p>
    <a href="https://en.wikipedia.org/wiki/Nature">This is nature</a>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, at exercitationem ullam nisi blanditiis
        laborum fugiat assumenda itaque? Facilis voluptatem atque consequatur est et reprehenderit eligendi fugiat in
        aut eum!
        Illum, quis rem a in temporibus similique distinctio sit? Ipsam officia praesentium nostrum magni tempore iure
        corrupti doloribus et rem sunt, explicabo tenetur nihil obcaecati tempora, quam voluptatem porro atque.</p>
    <a href="about.html">About</a>
</body>

</html>