<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>El camino a la ESEN</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime possimus velit ea, odit molestiae culpa,
        repellendus inventore itaque fugit dolorem excepturi quam consequatur distinctio quibusdam praesentium dolor
        autem sint asperiores?</p>
    <a href="https://www.esen.edu.sv/">Revisa nuestras carreras en nuestra página</a>
    <div class="final">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, aperiam ipsa dolorem voluptatem iusto hic
            labore quasi quibusdam ducimus sed aliquam ea, ratione accusamus sit incidunt nobis quaerat officiis
            voluptates?
            Earum laboriosam impedit magni dolor magnam illum, libero voluptatem, modi omnis rerum velit perferendis
            quaerat nam porro qui et ipsa quibusdam cumque. Consequatur repellat nihil ducimus quos maiores dignissimos
            suscipit!
            Praesentium, quibusdam necessitatibus aut, nesciunt ex provident magnam culpa soluta in quae tempora nemo
            officiis molestiae consectetur obcaecati nihil voluptatum assumenda illum cupiditate distinctio voluptatibus
            quia hic cum quaerat! Quos.</p>
    </div>
</body>

</html>